p{ 
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    color: hsl(359, 78%, 25%);
    font-size: x-large;
}

a{
    font-size: x-large;
}

h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    color: 700e10;
    font-size: xx-large;
}

h2{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
}

h3{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
}

img{
    align-items: center;
}

.projects {
display: flex;
justify-content: center;
gap: 40px;
flex-wrap: wrap;
width: 100%;
margin-top: 20px;
}

.project {
width: 350px;
background: lightslategray;
border-radius: 25%;
padding: 20px;
text-align: center;
}

.project h3 {
margin-bottom: 15px;
}

.project img {
width: 80%;
height: auto;
border: 2px solid navy;
display: block;
margin: 0 auto 10px auto;
}

.project p {
margin-top: 10px;
text-align: center;
}