p{ 
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    color: hsl(359, 78%, 25%);
    font-size: x-large;
}

a{
    font-size: x-large;
}

h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    color: 700e10;
    font-size: xx-large;
}

h2{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
}

h3{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
}

img{
    align-items: center;
}

.projects {
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 20px;
}

.project {
width: 300px;
padding: 20px;
background: lightslategray;
border-radius: 25%;
}