p{ 
    text-align: left;
    font-family: fantasy;
    color: hsl(359, 78%, 25%);
    font-size: x-large;
}

a{
    font-size: x-large;
}

h1{
    text-align: center;
    font-family: fantasy;
    font-weight: 400;
    color: 700e10;
    font-size: xx-large;
}

h2{
    text-align: center;
    font-family: fantasy;
    font-size: xx-large;
}

h3{
    text-align: center;
    font-family: fantasy;
    font-size: xx-large;
}

img{
    align-items: center;
}

.projects { 
    /* make the blobs float side-by-side */
	display:flex; 
	flex-wrap:wrap;  
} 
.projects h2 {
    /* display the h2 on its own line, not with the section blobs */
	width: 100%;
}
.project {
    /* form the section blobs */
    width: 30%;
    margin: 10px;
    padding: 20px 10px;
    background: lightslategray;
    /* rounded corners for the blobs */
    border-radius: 25%;
}
.project h3 {
    /* pull the h3 text away from the left blob wall */
    margin-left: 50px;
}
.project img {
    /* adjust your image sizes as needed */
    width: 400px;
    height: 300px;
    margin: 10px auto;
    border: 2px solid navy;
    display: block;
    /* center the images inside the blobs */
    text-align: center;
}
.project p {
    /* center the p text in the blob */
    text-align: center;
    margin: 15px;
}