p{ 
    text-align: right;
    font-family: fantasy;
    color: garnet;
}

h1{
    text-align: center;
    font-family: fantasy;
    font-weight: 400;
    color: garnet;
}

h2{
    text-align: center;
    font-family: fantasy;
}

body{
    background-color: black;
}