p{ 
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    color: hsl(359, 78%, 25%);
    font-size: x-large;
}

a{
    font-size: x-large;
}

h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    color: 700e10;
    font-size: xx-large;
}

h2{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
}

h3{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
}

img{
    align-items: center;
}

/* All project cards container */
.projects {
display: flex;
justify-content: center;
gap: 40px;
margin-top: 40px;
flex-wrap: wrap;
}

/* Individual project card */
.project-card {
width: 350px;
background: rgb(190, 202, 224);
padding: 25px;
border-radius: 30px;
text-align: center;
}

/* Project title */
.project-card h3 {
margin-bottom: 15px;
color: navy;
text-decoration: underline;
}

/* Image */
.project-card img {
width: 90%;
border-radius: 10px;
border: 2px solid navy;
}

/* Description text */
.project-card p {
margin-top: 10px;
}